<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.doing.notification"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NotificationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ResultActivity">
            <intent-filter>
                <action android:name="com.doing.notification"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="com.doing.notification"
                    android:scheme="doing"/>
            </intent-filter>
        </activity>

        <service
            android:name=".NotificationIntentService"
            android:exported="false">
        </service>
    </application>

</manifest>
